#header
  %h1= current_member.nickname rescue ''
  %ul
    %li= link_to "Phrases", phrasing_phrases_path
    %li= link_to "Import / Export", import_export_phrasing_phrases_path
    %li= link_to "Help", help_phrasing_phrases_path
    - if respond_to? :root_path
      %li= link_to "Home page", root_path
